html, body {
  height: 100%;
  min-height: 100%;
  background: #efefef; }

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 25px; }
  .container md-toolbar {
    background-color: #213037 !important; }

.links {
  position: absolute;
  right: 20px;
  top: 24px;
  font-size: 13px; }

.loginForm {
  width: 600px;
  margin: 25px auto; }

.statusBlockWrapper {
  margin-bottom: 15px; }

.repoCount {
  margin-top: 22px;
  font-size: 12px; }

.ghName {
  text-decoration: none; }

.hide {
  display: none; }

body .container .color-default {
  color: #4caf50 !important; }

body .container .color-accent {
  color: #ffab40 !important; }

body .container .color-warn {
  color: #f44336 !important; }

.filterNav a {
  margin-right: 5px;
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
  font-size: 13px;
  text-decoration: none;
  background-color: #213037; }
  .filterNav a.default {
    background-color: #4caf50; }
  .filterNav a.accent {
    background-color: #ffab40; }
  .filterNav a.warn {
    background-color: #f44336; }

footer {
  background-color: #213037;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 11px; }
