
html, body {
  height: 100%;
  min-height: 100%;
  background: rgba(239,239,239,1);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 25px;
  md-toolbar {
    background-color: rgba(33,48,55,1) !important;
  }
}
.bottom {
  background-color: rgba(33,48,55,1);
  display: block;
  color: white;
  padding: 5px;
  text-align: right;
  font-size: 12px;
}

.links {
  position: absolute;
  right: 20px;
  top: 24px;
  font-size: 13px;
}

.loginForm {
  width: 600px;
  margin: 25px auto;
}

.statusBlockWrapper {
  margin-bottom: 15px;
}

.repoCount {
  margin-top: 22px;
  font-size: 12px;
}

.ghName {
  text-decoration: none;
}

.hide {
  display: none;
}

body .container .color-default {
  color: rgba(76,175,80,1) !important;
}
body .container .color-accent {
  color: rgba(255,171,64,1) !important;
}
body .container .color-warn {
  color: rgba(244,67,54,1) !important;
}
.filterNav {
  a {
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    font-size: 13px;
    text-decoration: none;
    background-color: rgba(33,48,55,1);
    &.default { background-color: rgba(76,175,80,1); }
    &.accent { background-color: rgba(255,171,64,1); }
    &.warn { background-color: rgba(244,67,54,1); }
  }
}

footer {
  background-color: rgba(33,48,55,1);
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
}
