<md-list-item class="md-3-line">
  <img ng-src="{{ github.avatar_url }}" class="md-avatar" alt="{{status.username}}" />
  <div class="md-list-item-text">
    <h3>
      <a class="ghName color-{{ currentStatus.label }}" href="https://github.com/tiy-atl-js-q2-2015/Assignments/issues/assigned/{{status.username}}">
        {{ github.name }} &#8663;
      </a>
    </h3>
    <h4 class="color-{{ currentStatus.label }}">Course Completion: <span>{{ currentStatus.status }}</span></h4>
  </div>
  <div class="repoCount">
    Assignments: {{ open }} of 22 Complete
    <md-progress-linear class="md-{{ currentStatus.label }}" md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
    <br>
    <i>Total Absences:</i> {{ status.absent }}
  </div>
</md-list-item>
<hr>
