<div class="infoContainer">
    <h2>FAQ</h2>

    <p class="question">
        What is the point of this app?
    </p>
    <p class="answer">
        This is to give you a quick glimpse of your current standing based off of the agreement you signed.
    </p>

    <p class="question">
        What are the required assignments?
    </p>
    <p class="answer">
        You need to have 80% of your assignments turned in, graded and marked as <span>completed</span>.
        <br/><br/>
        On top of that, you must have all of the weekend assignments completed.
        <br/><br/>
        For clarification, those assignments are: <pre>[3, 7, 10, 12, 15, 19, 22]</pre>
    </p>
    <p class="question">
        I have more questions.
    </p>
    <p class="answer">
        That's not a question, but if you have any concerns, please bring them up with your instructor or campus director.
    </p>
</div>
